
<div class="container">
    <div class="section" id="section_1">
        
        <div class="auto-text-section" >
            <div class="auto-text-header">
                get your next
            </div>
            <div class="auto-text-contents">
                <div class="auto-text-items" id="item_4" data-color="#c28b00" data-status="unknown">chai time snacks idea</div>
                <div class="auto-text-items" id="item_1" data-color="#c32f00" data-status="active">home decore ideas</div>
                <div class="auto-text-items" id="item_2" data-color="#c31952" data-status="unknown">outfit idea</div>
                <div class="auto-text-items" id="item_3" data-color="#197a7a" data-status="unknown">DIY idea</div> 
            </div>
        </div>
        <button class="btn" data-value="section_2">
            <lord-icon
                src="https://cdn.lordicon.com/albqovim.json"
                trigger="hover"
                colors="primary:#121331"
                state="hover-2"
                style="width:250px;height:250px">
            </lord-icon>
        </button>
        <div class="auto-img-show-container">
            <div class="auto-img-item">
                <div class="d-flex sub-auto-img-item">
                    <div class="img-container large">
                        <img src="https://images.pexels.com/photos/2835741/pexels-photo-2835741.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                    </div>
                    <div class="img-container small">
                        <img src="https://images.pexels.com/photos/6898855/pexels-photo-6898855.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                    </div>
                </div>
            
                <div class="d-flex sub-auto-img-item">
                    <div class="img-container small">
                        <img src="https://images.pexels.com/photos/1343535/pexels-photo-1343535.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                    </div>
                    <div class="img-container large">
                        <img src="https://images.pexels.com/photos/6898855/pexels-photo-6898855.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                    </div>
                </div>
            </div>
            <div class="fade-effect-container">

            </div>
        </div>
    </div>
    
    <div class="section" id="section_2">
        <div class="subsection-left">
            <div class="left-content-container">
                <div class="card card-large">
                    <img src="https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="img">
                </div>
                <div class="card card-medium">
                    <img src="https://images.pexels.com/photos/2689419/pexels-photo-2689419.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                </div>
                <div class="card card-small-1">
                    <img src="https://images.pexels.com/photos/10949542/pexels-photo-10949542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="img">
                </div>
                <div class="card card-small-2">
                    <img src="https://images.pexels.com/photos/7538053/pexels-photo-7538053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="img">
                </div>
            </div>
            <div class="d-flex search-input">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>easy chicken dinner</span>
            </div>
        </div>

        <div class="subsection-right">
            <div class="content-container">
                <h2>search for an idea</h2>
                <span>
                    what do you to try next?Think of something you're into --- like "easy chicken dinner"--and see what you find.
                </span>
                <button class="ex-btn">explore</button>
            </div>
        </div>
    </div>
    <div class="section" id="section_3">
            <div class="section-3-left-container">
                <div class="content-container">
                    <h2>Save ideas you like</h2>
                    <span>
                        collect your favorites so you can get back to them later.
                    </span>
                    <button class="ex-btn">explore</button>
                </div>
            </div>
            <div class="section-3-right-container">
                <div class="img-1">
                    <div class="bg-img-for-section">
                        <img src="https://s.pinimg.com/webapp/future-home-vibes-55a673b9.png" alt="" class="img">
                    </div>
                    <div class="sub-of-img-1">
                        <span>
                            Fern future home vibes
                        </span>
                        <div class="sub-img-container">
                            <div class="small-img">
                                <img src="https://images.pexels.com/photos/1034584/pexels-photo-1034584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img">
                            </div>
                            <div class="small-img">
                                <img src="https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" class="img">
                            </div>
                            <div class="small-img">
                                <img src="https://images.pexels.com/photos/1827054/pexels-photo-1827054.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" class="img">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class=" img-2">
                    <div class="bg-img-for-section">
                        <img src="https://s.pinimg.com/webapp/scandinavian-bedroom-917ad89c.png" alt="" class="img">
                    </div>
                    <span>
                        My Scandinavian bedroom 
                    </span>
                </div>
                <div class="content-container img-3">
                    <div class="bg-img-for-section">
                        <img src="https://s.pinimg.com/webapp/deck-of-dreams-fb527bf1.png" alt="" class="img">
                    </div>
                    <span>
                        The deck of my dreams
                    </span>
                </div>
                <div class=" img-4">
                    <div class="bg-img-for-section">
                        <img src="https://s.pinimg.com/webapp/serve-my-drinks-263547ea.png" alt="" class="img">
                    </div>
                    <span>
                        Serve my drinks in style
                    </span>
                </div>
                <div class=" img-5">
                    <div class="bg-img-for-section">
                        <img src="https://s.pinimg.com/webapp/bathroom-upgrade-48ebb8fc.png" alt="" class="img">
                    </div>
                    <span>
                        Our bathroom upgrade
                    </span>
                </div>
            </div>
    </div>
    <div class="section" id="section_4">
        <div class="section-4-left-container">
            <div class="bg-img-for-section">
                <img src="https://images.pexels.com/photos/2657838/pexels-photo-2657838.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
            </div>
            <div class="card-container">
                <div class="card-in-card-container">
                    <div class="img-container">
                        <img src="https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                    </div>
                    <div class="card-text-container">
                        <span>
                            Scout the city
                        </span>
                        <span class="small-text">
                            56.7k followers
                        </span>
                    </div>
                </div>
                <div class="round-img-container">
                    <img src="https://images.pexels.com/photos/3785424/pexels-photo-3785424.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
                </div>
            </div>
        </div>
        <div class="section-4-right-container">
            <div class="content-container">
                <h2>see it, make it, try it, do it</h2>
                <span>
                    the best part of Pinterest(clone) is discovering new things and ideas from people around the world
                </span>
                <button class="ex-btn">explore</button>
            </div>
        </div>
        <button class="btn" data-value="section_1">
            <lord-icon
                src="https://cdn.lordicon.com/xsdtfyne.json"
                trigger="hover"
                colors="primary:#ffffff"
                style="width:60px;height:60px">
            </lord-icon>
        </button>
    </div>
</div>
