
<form action="" (ngSubmit)="handleComment()" [formGroup]="commentForm">
    <div class="d-flex mt-3 gap-10">
        <div class="img-container-for-profile-small round">
            <img class="img"
                src="https://images.pexels.com/photos/13790634/pexels-photo-13790634.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="">
        </div>
            <div class="comment-box">
                <input class="input" type="text" placeholder="add a comment" formControlName="comment">

                <p class="link-gray mx-0">
                    <label for="id_submit_comment" class="link" href=""><i class="fa-solid fa-arrow-right"></i></label>
                    <input type="submit" id="id_submit_comment" value="">
                </p>
            </div>
    </div>
</form>
