<div *ngIf="savedPosts$.length<=0" class="container empty-saved-posts-message-container">
    <p>
        Nothing to show...yet! Pins you saved will live here.
    </p>
    <a href="" [routerLink]="['/home']" class="btn">View Pins</a>
</div>
<div class="container" id="id_saved_container">
    
    <div class="card card-medium" *ngFor="let savedPost of savedPosts$">
        <img src="{{savedPost.post.post_img}}" (click)="redirectToPost(savedPost.post.id)" alt="" class="img">
            <div class="content">  
                <div class="top">
                    <p class="list-item">my saves</p>
                    <button class="btn ">save</button>
                </div>
                <div class="bottom">
                    <i class="fa-solid fa-arrow-up-from-bracket round-small"></i>
                    <a (click)="handleDelete(savedPost.id)"><i class="fa-solid fa-ellipsis padding round-small"></i></a>
                </div>
                <div class="deletebtncontainer close" id="id_delete_container{{savedPost.id}}">
                    <a class="link link-for-delete" (click)="removeSavedPost(savedPost.id)">delete</a>
                </div>
            </div>
    </div>
    
</div>
<div class="pop-up-message" id="pop-up-message">
    <lord-icon
        src="https://cdn.lordicon.com/egiwmiit.json"
        trigger="loop"
        colors="primary:#121331"
        state="morph-check-in"
        style="width:250px;height:250px">
    </lord-icon>
    <div class="success-message text"></div>
    <button type="button" class="close-btn" (click)="closePopUpMessage()">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>