<div class="outer-main-container">
    <div id="notification-side-menu" data-status="inactive">
        <p class="text">Updates</p>
        <div class=" d-flex">
            <a href="" class="icon"><i class="fa-solid fa-plus"></i></a>
            <div class="fs-for-names-in-comments">
                what ideas feel Sanoop?create your first pin to share what inspires you. <span class="text-gray">4w</span>
            </div>
        </div>
        <div id="all_notifications_show_container">
            <ul class="notification-list">
                <li class="notification-item">
                    <div>
                        <div>
                            <span>
                                <strong>landing page design</strong>,<strong>email newspaper design</strong><span class="text">and more pins trending on pinterest</span> <span class="text-gray small-text">44w</span>
                            </span>
                        </div>
                        <a href="#">
                            <div class="notification-img-container">
                                <img class="img" src="https://i.pinimg.com/736x/26/4c/fb/264cfb70830f224803f7369a05a3de40.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </li>

                <li class="notification-item">
                    
                </li>
                <li class="notification-item">
                    
                </li>
                <li class="notification-item">
                    
                </li>
                <li class="notification-item">
                    
                </li>
            </ul>
        </div>
    </div>
    <div id="message-side-menu" data-status="inactive">
        <div class="message-header">
            <p class="text">Inbox</p>
            <div class="icon-container-in-message-header">
                <button>
                    <i class="fa-solid fa-ellipsis-h"></i>
                </button>
                <button>
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
        </div>
        <div>
            <h1>Share ideas with your friends</h1>
            <div class="search-box-in-message-side-menu">
                <i class="fa-solid fa-magnifying-glass p-10 text-gray"></i>
                <input type="search" name="" id="" placeholder="search by name or email">
            </div>
        </div>
        <div class="message-content-section"></div>
    </div>
    <div id="side-menu" data-status="inactive">
        <div class="small-text p-10">currently in</div>
        <div class="side-menu-personal-detail-maincontainer">
            <div class="sub-personal-detail-container">
                <div class="container-for-profile-in-side-menu">
                    <img src="https://images.pexels.com/photos/10365586/pexels-photo-10365586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                </div>
                <div class="personal-detail-content">
                    <div>
                        <span class="username">
                            sanoop
                        </span>
                        <span class="account-status">
                            personal
                        </span>
                        <div class="email-container">
                            <span class="email">
                                sanoopsundaran@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa-solid fa-check padding-for-container"></i>
            </div>
        </div>
        <div class="account-detail-container">
            <div class="small-text p-10">your accounts</div>
            <a href="#">add account</a>
            <a href="#">convert to bussiness</a>
        </div>
        <div class="more-options-container mt-1">
            <div class="small-text p-10">more options</div>
            <a href="#">settings</a>
            <a href="#">tune tour home feed</a>
            <a href="#">install the windows app</a>
            <a href="#">your privacy rights</a>
        </div>
    </div>
</div>
