<div id="id_main_add_reply_container" data-status="active">
    <form action="">
        <label id="add_reply_container" for="id_reply" class="d-flex ms-auto mt-3">
            <div class="img-container-for-profile-in-comment-item round border">
                <img src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="img">
            </div>
            <div class="input-container-for-reply">
                <input type="text" class="form-input" id="id_reply" placeholder="Reply">
            </div>
            
        </label>
        <div class="d-flex gap-10 ms-auto btn-container">
            <input type="button" class="btn-gray" value="cancel">
            <input type="submit" class="btn-gray" value="Reply">
        </div>
    </form> 
</div>
